/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch {
    height: 50px;
    width: 55px;
    background: url(../images/switch.svg);
    background-position: left bottom;
    border: 2px solid brown;
}

.screen {
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.container {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    opacity: 0.7;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    padding: 10px;
} */

* {
    font-size: 70%;
}