* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    /* min-height: 100vh; */
    justify-content: center;
    align-items: center;
    

}

.screen {
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.container {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fafafa;
    opacity: 0.7;
    transition: 0.1s;
    transform: translate(-50%, -50%)
}

