* {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    font-size: 75%;

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#272F44 60%, #fff 40%);
    
}


img{
    max-width: 100%;
    display: block;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    color:black;
}

.container-main{
    margin: 0;
    padding: 0;
    max-width: 65%;
    margin: 30px auto;
    box-sizing: border-box;
    overflow: hidden;
    color: #FFFFFF;
}


.header{
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* justify-content: space-between; */
}

.header-heading-container{
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    
}

.header-body-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site-header{
    display: inline-block;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    font-size: 2rem;   
    margin: 0;
    margin-right: 20px;
   
}


.site-header-link{
    margin-right: auto;
    transition: color 0.3s ease-in-out;
}

.site-nav{
    display: flex;
    align-items: center;
        
}

.site-nav ul{
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    
}


.site-nav ul li a{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    padding: 5px;
    transition: color .3s ease-in-out;
    
}

.nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 1.5rem;
    transform: translateY(6px);
    align-self: flex-start;
}

.bar {
    width: 100%;
    height: 0.25rem;
    background-color: #FFFFFF;
    border-radius: 20%;
}

.site-nav a:active,
.site-nav a:focus,
.site-nav a:hover{
    background-color: rgba(256, 256, 256, 1);
    color: black;
}

.mobile-nav-container {
    width: 100%;
    height: 120px;
    
}

.mobile-nav {
    width: 100%;
    display: none;
}

.mobile-nav-list {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    /* justify-content: center; */
}


.mobile-nav-list li {
    border-bottom: 2px solid white;
    padding: 1px;
}

.mobile-nav-list li a {
    font-size: 0.5rem;
    padding: 5px;
}

.mobile-nav.active {
    display: flex;
}

@media screen and (max-width:940px){
    .site-header {
        font-size: 1.5rem;
    }

    .nav-toggle {
        display: flex;
    }
    

    .header-heading-container {
        flex: 2;
    }

    .site-header-link {
        margin-right: 0;
        margin-left: auto; 
    }

    .site-nav {
        display: none;
    }
    
}

@media screen and (max-width:425px){
    .site-header {
        font-size: 1.2rem;
    }

    .nav-toggle {
        height: 1.2rem;
        width: 1.5rem;
        transform: translateY(5px);
    }

    .bar {
        height: 0.17rem;
    }

    .header-heading-container{
        margin-right: 15px;
    }

    .header-heading-container {
        flex: 2;
    }

    .site-header-link {
        margin-right: 0;
        margin-left: auto; 
    }

    .site-nav {
        display: none;
    }
    
    .cart-SVG {
        width: 1.5rem !important;
        height: auto;
        fill: #FFFFFF;
        
    }

    .notification-count {
        padding: 0px 3px !important;
        font-size: 0.6em !important;
        border-radius: 50%;
        position: absolute;
        right: -5%;
        top: -15% !important;
    }

    .account-button {
        height: 1.5rem !important;
    }

    
    
}


.cart-SVG-link{
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.cart-SVG{
    width: 2rem;
    height: auto;
    fill: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.notification-count{
    padding: 0px 4px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #68CACB;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    right: -5%;
    top: -10%;
    transition: 0.3s ease-in-out;
}

.cart-SVG-link:hover .cart-SVG {
    fill: black;
}



.btn{
    display: inline-block;
    background-color: #DF7694;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 1px rgba(223, 118, 148, 0.1);
    font-size: 0.8em;
    transition: background-color 0.2s ease-in-out;
    /* height: 10; */
    
}

.btn:hover{
    background-color: rgba(223, 118, 148, 0.5);
    color: black;
    font-weight: 500;
}

.account-button{
    margin-left: auto;
    font-size: 0.8rem;
    display: flex;
    align-content: center;
    height: 2rem;
}

.user-SVG{
    fill: #FFFFFF;
    stroke: #FFFFFF;
    width: 1rem;
    height: auto;
    stroke-width: 1rem;
    margin-right: .3rem;
}

.account-button:hover .user-SVG {
    fill: black !important;
    stroke: black;
}

@media screen and (max-width: 940px){
    .account-label{
        display: none;
        position: absolute;
        right: -9999px;
        width: 0;
    }

}

.content-area {
    /* margin-top: 130px; */
}

.sec1 {
    margin: 50px 10% 100px 10%; 
    
}

.sec1-p1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
    line-height: 1em;
}

.sec1-div1{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.btn2 {
    padding: 10px;
    font-size: 1rem;
    margin-right: 50px;
}

.sec1-div1-p1{
    width: fit-content;
    transition: transform 0.2s ease-in-out;
}

.arrow-SVG {
    fill:  #FFFFFF;
    transform: translateY(1px);
    width: 1.4rem;
    height: auto;
    transition: 0.2s ease-in-out;
}

.sec1-div1-p1-link{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    }

.sec1-p2 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-right: 5px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.sec1-div1-p1-link:hover .arrow-SVG {
    fill: black;
    stroke-width: 2px;
    
}

.sec1-div1-p1-link:hover .sec1-p2 {
    color: black;
}

@media screen and (max-width:940px){
    .sec1 {
        margin: 0 0 50px 0;
        
    }
    .sec1-p1{
        font-size: 2rem;
    }

    .btn2{
        font-size: 0.8rem;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    

    .sec1-div1{
        flex-direction: column;
        align-items: center;
    }

    .sec1-p2{
       font-size: 1rem;
    }
}

@media screen and (max-width:425px){
    .sec1-p1{
        font-size: 1.5rem;
    }

    .btn2{
        font-size: 0.7rem;
    }
    

    .arrow-SVG {
        width: 1rem;
        height: auto;
    }

    .sec1-p2{
        font-size: 0.8rem;
    }
    
    
}

.img-grid{
    margin: 0;
    padding: 0;
    width: 100%;
    Height: 80vh;
    overflow: hidden;
}

.img-grid img{
    transition: all 0.3s ease-in-out;
}

.image-container:hover{
    cursor: pointer;
    background-position: top right;
    
}

.image-container {
    transition: .2s;
}

.image-container1{
    background-image: url(../images/image-3.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 32vh;
    margin-right: 5%;
    margin-bottom: 4vh;
    float: left;
    display: flex;
    position: relative;
}

.image-container2{
    background-image: url(../images/image-1.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 38vh;
    margin-right: 5%;
    margin-bottom: 4vh;
    float: left;
    display: flex;
    position: relative;
}

.image-container3{
    background-image: url(../images/image-4.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 32vh;
    margin-bottom: 4vh;
    float: left;
    display: flex;
    position: relative;
}

.image-container4{
    background-image: url(../images/image-5.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 44vh;
    margin-right: 5%;
    float: left;
    transform: translateY(-6vh);
    display: flex;
    position: relative;
}

.image-container5{
    background-image: url(../images/image-2.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 38vh;
    margin-right: 5%;
    float: left;
    display: flex;
    position: relative;
}

.image-container6{
    background-image: url(../images/image-6.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 30%;
    height: 44vh;
    float: left;
    transform: translateY(-6vh);
    display: flex;
    position: relative;
}

.image-description{
    margin: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    padding: 10px;
    font-size: 0.7em;
}

.image-description1, .image-description6{
    background-color: #CE5E5A;
}

.image-description2, .image-description4{
    background-color: #66CACC;
}

.image-description3, .image-description5{
    background-color: #9671E5;
}

@media screen and (max-width: 940px){
    .img-grid{
        height: 100vh;
    }
    .image-container1{
        width: 100%;
        height: 25vh;
        margin-right: 0;
        margin-bottom: 5vh;
        float: none;
    }
    .image-container2{
        width: 47.5%;
        height: 30vh;
        margin-bottom: 5vh;
    }
    .image-container3{
        width: 47.5%;
        height: 15vh;
        margin-bottom: 5vh;
        
    }
    .image-container4{
        width: 47.5%;
        height: 35vh;
        transform: translateY(0);
    }
    .image-container5{
        width: 47.5%;
        height: 15%;
        transform: translateY(-15vh);
        margin-bottom: 5vh;
        margin-right: 0;
    }
    .image-container6{
        width: 47.5%;
        height: 30vh;
        transform: translateY(-15vh);
    }
    
    .image-description{
        margin: 0;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25px;
        padding: 3px 7px 3px 3px;
        font-size: 0.4em;
    }

}



.sec3{
    margin: 15vh 0;
    color: #000;
}


.sec3-p1{
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.line-break1{
    border: 0;
    height: 3px;
    width: 10em;
    background-color: #F0D0DB;
}

.sec3-p2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.sec3-p3{
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width:940px){
    .sec3{
        margin: 10vh 0;
    }
    .sec3-p1{
        text-align: left;
    }
    .sec3-p2, .sec3-p3{
        text-align: left;
    }
    .line-break1{
        text-align: left;
        margin-left: 0px;
    }
}

.group:before, .group:after{
    content: "";
    display: block;
} 

.group:after{
    clear: both;
}