/*
// Colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
*/

/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
    background: #252526;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
}

a {
    color: #6F439C;
}

/* Container */

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* Header */

.header {
    background: #323233;
    color:white;
    padding: 1.6rem 0;
}

.header__title {
    font-size: 3rem;
    margin-bottom: .6rem;
    display: inline-flex;
    align-items: center;
}

.todo-logo-svg {
    width: 4rem;
    height: auto; 
    fill: white
}

.header__subtitle {
    /* color: #777; */
    font-size: 1.4rem;
    font-weight: 300;
}

/* Actions Bar */
.actions {
    background-color: #353239;
    border-top: 1px solid #dedfe0;
    border-bottom: 1px solid #dedfe0;
    padding: 1rem;
}

.actions__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

/* .actions__container--spaced {
    justify-content: space-between
} */

/* Form Inputs */

.input {
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: 1.6rem;
    padding: .4rem .8rem; 
}

.checkbox {
    display: flex;
    align-items: center;
}

.hide-completed-container{
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 10px;
}

.hide-completed{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
}

.checkbox > input {
    margin-right: 1rem;
}

.hide-completed-svg {
    width: 1.6rem;
    height: auto; 
    fill:white;
}

.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
    display: inline-flex;
    align-items: center;
}

.button:hover {
    background: #5F3A87;
}

.remove-completed-svg {
    width: 1.6rem;
    height: auto;
    fill:white;
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6E6E6E;
}

.button--text {
    background: none;
    border: none;
    color: #aaa;
    padding: 10px;
}

.button--text:hover {
    background: none;
    color: white;
    text-decoration: underline;
}


/* todo List Item */

.list-item {
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
    background: #353239;
    border: 1px solid #423e47;
    margin: 1.6rem 0;
    padding: 1rem 1.6rem;
    display: block;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-item__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: center;
}

.list-item__container > *:first-child {
    margin-right: .8rem;
}

.list-item:hover {
    background: #3d3941;
}

.list-title {
    margin: 3.2rem 0 1.6rem;
}

.edit-todo{
    border: none;
    background-color: #353239;
    color: #fafafa;
    font-size: 1.8rem;
}

.edit-todo:focus {
    background-color: white;
    color: black;
}

.priority-list2{
    background-image: url(../svg/priority.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left;
    padding-left: 18px;
    border: none;
    height: 1.8rem;
}

.remove-todo {
    width: 1.6rem;
    height: auto;
    fill: #aaa;
}

.button--text:hover .remove-todo{
    fill: white;
}

#priority-list{
    background-image: url(../svg/priority.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left;
    padding-left: 30px;
}

.empty-message {
    margin: 3.2rem 0;
}
.create-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-todo-svg {
    width: 1.4rem;
    height: auto;
    fill:white;
}

.hide{
    display: none;
}

svg{
    margin-right: 5px;
}