/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Header */

.header {
  background: #7599b3;
  color: #fafafa;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .header__title {
        font-size: 2.4rem;
    }
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
    .header__subtitle {
        font-size: 1.2rem;
    }
}

.note-svg {
    width: 5rem;
    height: auto;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .note-svg {
        width: 3.75rem;
        height: auto;
    }
}

/* Actions Bar */

.actions {
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem 0;
}

.actions__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

@media screen and (max-width: 768px) {
    .actions__container {
        max-width: 90%;
    }
}

.actions__container--spaced {
    justify-content: space-between
}

.home-svg {
    width: 3rem;
    height: auto;
    fill:#7599b3;
    transition: fill 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .home-svg {
        width: 2.25rem;
        height: auto;
    }
}

.home-link:hover .home-svg {
    fill: #396684;
}

.last-edited {
    font-size: 1.4rem;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .last-edited {
        font-size: 1.05rem;
    }
}

/* Form Inputs */

.input {
    border: 1px solid #DEDFE0;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
}

@media screen and (max-width: 768px) {
    .input {
        font-size: 1.05rem;
    }
}

.search-input {
    max-width: 40%
}
    

.dropdown {
    border-radius: 0;
    border: 1px solid #DEDFE0;
    background: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    max-width: 55%;
}

@media screen and (max-width: 768px) {
    .dropdown {
        font-size: 1.05rem;
    }
}

.button {
    background: #7599b3;
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem 2.6rem;
    transition: background .3s ease;
}

@media screen and (max-width: 768px) {
    .button {
        font-size: 1.05rem;
    }
}

.button:hover {
    background: #396684;
}

.create-note-svg {
    width: 2.6rem;
    height: auto;
}

@media screen and (max-width: 768px) {
    .create-note-svg {
        width: 1.95rem;
        height: auto;
    }
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6E6E6E;
}

/* Note editor */

.title-input {
    border: 1px solid #DEDFE0;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .title-input {
        font-weight: 1.5rem;
    }
}

.body-input {
    border: 1px solid #DEDFE0;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .body-input {
        font-weight: 1.2rem;
    }
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #333333;
    background: #F7F7F7;
    border: 1px solid #dedfe0;
    margin: 1.6rem 0;
    padding: 1.6rem;
    display: block;
    transition: background .3s ease;
}

@media screen and (max-width: 768px) {
    .list-item {
        font-size: 1.2rem;
    }
}

.list-item:hover {
    background: #eeeeee;
}

.list-item__title {
    font-size: 1.8rem;
    margin-bottom: .4rem
}

@media screen and (max-width: 768px) {
    .list-item__title {
        font-size: 1.35rem;
    }
}

.list-item__subtitle {
    color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .list-item__subtitle {
        font-size: 1.05rem;
    }
}

.empty-message {
    text-align: center;
    margin: 3.2rem 0;
}

.delete-note-svg {
    width: 2.6rem;
    height: auto;

}

@media screen and (max-width: 768px) {
    .delete-note-svg {
        width: 1.95rem;
        height: auto;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 1rem;
    background-color: #F7F7F7;
    border-top: 1px solid #dedfe0;

}

@media screen and (max-width: 768px) {
    .footer {
        font-size: 0.9rem;
        padding: 15px;
    }
}