html {
    color: white;
}

.content {
    background: #070724;
}

.nav {
    background: #050517;
}

::-webkit-scrollbar {
    width: 1.8rem;
}
 
::-webkit-scrollbar-track {
    background: black;
    -webkit-box-shadow: inset 0px 0px 6px rgba(169, 169, 169, 0.5);
}
 
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}


::-webkit-scrollbar-button {
    height: 2rem;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../../SVG/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../../SVG/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo__container {
    height: 10%;
    width: 100%;
    background: url(../../SVG/dark-logo.svg);
    background-repeat: no-repeat;

}

.about--svg {
    fill: white;
    stroke-width: 2px;
    stroke: white;
}

.portfolio--svg {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

.contact--svg {
    fill: white;
    stroke-width: 2px;
    stroke: white;
}

.navigation ul li a {
    color: white;
    
}

