html {
    color: black;
}

.content {
    background: #f5f5ff;
}

.nav {
    background: #e8e8ff;
}

::-webkit-scrollbar {
    width: 1.8rem;
    background: white;
}

::-webkit-scrollbar-track {
    background: #e8e8ff;
    -webkit-box-shadow: inset 0px 0px 6px rgba(169, 169, 169, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    height: 2rem;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../../SVG/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../../SVG/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo__container {
    height: 10%;
    width: 100%;
    background: url(../../SVG/light-logo.svg);
    background-repeat: no-repeat;
}

.about--svg {
    fill: black !important;
    stroke-width: 2px;
    stroke: black;
}

.portfolio--svg {
    fill: black !important;
    stroke: black;
    stroke-width: 3px;
}

.contact--svg {
    fill: black !important;
    stroke-width: 2px;
    stroke: black;
}

.navigation ul li a {
    color: black;
}

.project__photo {
    border: 10px solid #050517;
}
