/* 
body {
    background-color: rgba(87, 87, 113, 0.1);
    
} */

.content {
    width: calc(100% * 11 / 12 );
    margin: 0 0 0 calc(100% * 1 / 12 );
    /* border-right: 2px solid #1e1e1e;
    border-left: 2px solid #1e1e1e; */
    background: #fff;
    height: 100%;
    color: black;
}

::-webkit-scrollbar {
    width: 1.8rem;
    background: white;
}
 
::-webkit-scrollbar-track {
    background: white;
    -webkit-box-shadow: inset 0px 0px 6px rgba(169, 169, 169, 0.5);
}
 
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}


::-webkit-scrollbar-button {
    height: 2rem;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(../../SVG/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(../../SVG/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
